@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  
}
body{
  font-family: 'Poppins', sans-serif;
}

.app.warm{
  background-image: url('./assets/sun-63.gif');
  transition: 0.4s ease-out;
}
.app.bgdefault{
  background-image: url('./assets/gray-painted-background.jpg');
  transition: 0.4s ease-out;
}

.app{
  background-image: url('./assets/8d867d2cf4355f24931474bc766a531197211a3cr1-540-304_hq.gif');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;

}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2 ),rgba(0,0,0,0.75));
  padding: 25px;
}
.search-box{
  margin: 0 0 75px;
  width: 100%;
}
.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0,0,0,0.2 ) ;
  
  color: #313131;
  font-size: 18px;

  transition: 0.4s ease;
}
.search-box .search-bar:focus{
  background-color:rgba(255,255,255,0.75) ;

}
.location-box .location{
  color: white;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(0,0,0,0.2 );
}
.location-box .date{
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(0,0,0,0.2 );
}
.weather-box{
  text-align: center;
}
.details{
  background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(5px); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5) ;
    text-align: center;
}
.detalhes{
  
  padding: 10px 10px 10px 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  
  text-align: center;
  text-shadow: 2px 2px rgba(0,0,0,0.2 );
 
}
.weather-box .temp {
  font-size: 80px;
  padding: 15px 25px;
  color: white;
  font-weight: 900;
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(5px); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5) ;
    text-align: center;

}
.weather-box .weather{
  color: white;
  font-size: 48px;
  font-weight: 300;
  align-items: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5) ;

}
.box-glass{
  
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5) ;
    text-align: center;



}


 @media screen and (min-width:1000px) {
  
  main{
    transition: 0.2s;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-box {
    display: flex;
    width: 350px;
  }
  .search-bar{
    margin-bottom: 60px;
    background-color: rgba(255,255,255,0.5);
    margin-top: -25px;
    box-shadow: 0px 5px rgba(0,0,0,0.2 ) ;
  }
  
  .box-glass{
    width: 500px;
    
  }

  
} 